* {
  margin:0;
  padding: 0;;
  box-sizing: border-box;
}


body{
  background: rgb(61, 74, 97);
    font-size: 1.1em;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4em;
}


/* Header and Links*/
#logo, #header{
font-size: 1.2em;
color:rgb(255, 255, 253)
}

#logo:hover{
 

}

.nav-link {
 color: white; 

}
a:hover{
  color: black;
   box-shadow: 3px 2px 11px #383636;
   background: linear-gradient(to left,rgb(121, 121, 118), rgb(98, 198, 216));  

}
.btn{ 
    background: black;
    color: white;
}
.btn:hover{
    background: linear-gradient(to left,rgb(121, 121, 118), rgb(98, 198, 216)); 
    box-shadow: 3px 2px 11px #383636;
    color: white;  
}
.btn:focus {
    outline: none;
    box-shadow: none;
}


/* Number of Gifs*/
#displayNumber{
  margin-top: 7px;
 
}

/* Input Box*/
#search_item{
  
  outline:none;
  box-shadow: none;
}

/* Input Button*/
#search_btn{
margin-left: 5px;
}

/* Grid for Images*/
#image-box{
  
    height: 510px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 25px;  
    Display: grid;
    grid-template-columns:repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 1px;
    box-shadow: 3px 2px 2px 2px #383636;
}

/* Footer*/
footer{
  height: 35px;
  background: linear-gradient(to left, rgb(43, 42, 42), rgb(155, 153, 153));
}




  /* MEDIA QUERIES */

  @media screen and (max-width: 650px) {
    #nav-box { display: flex; flex-flow: column wrap;  align-items: center;}
    #search-box {display: flex; flex-flow: column wrap;  align-items: center;}
    #navLinks {display: flex; flex-flow: column wrap;  align-items: center;}
    #logo { text-align: center;}
    #image-box{grid-template-columns:repeat(1, 1fr);}

  }

  @media screen and (max-width: 320px) {
    #search-box {display: flex; flex-flow: column wrap;  align-items: center;}
    #nav-box {display: flex; flex-flow: column wrap;  align-items: center;}
    #navLinks {display: flex; flex-flow: column wrap;  align-items: center;}
    #logo { text-align: center;}
    #image-box{grid-template-columns:repeat(1, 1fr); }
  }